nav {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;

    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;

    background-color: #8ffb51;
    padding: 0.25em;
    width: 100%;
}

.navItems,
.externalLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navItems {
    color: blue;
}

.externalLinks {
    margin-right: 2rem;
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}