html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: rgb(255, 220, 47);
    width: 100%;
    padding: 1em;

    a {
        color: blue;
    }
}